.loginForm {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  h2{
    text-align: center;
  }
}

.loginFormContainer {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  margin-bottom: 20px;
}

.loginFormInput {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.loginFormButton {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginFormButton:hover {
  background-color: #0056b3;
}

.loginActions {
  display: flex;
  justify-content: center;
  gap: 10px; 
  margin-top: 10px;
}

.loginActionLink {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.loginActionLink:hover {
  color: #0056b3;
  text-decoration: underline;
}
